{% extends "layout.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<!-- <h1 class="ui header">{{title}}</h1> -->
{% if current_user.is_authenticated %}

<style>
  .home_content {
    display: none;
  }
</style>

<!Doctype html>
<html>

<body>

  <div class="row center" style="margin-top:4%;">
    <div style="margin-left:25% ;">
      <div class="column" style="background-color:rgb(255, 235, 185);margin: auto;">
        <h2>One-time</h2>
        <p>• 10 USD per automated diagnosis</p>
        <p>• Email support</p>
        <p>• Instant Delivery</p>
        <form action="/user/charge" method="post">
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_TQmy1LFbeJ6tgZLOdzT4pZRh00mJ3yq97c" data-description="A Flask Charge" data-amount="1000"
            data-email="{{ email }}" data-locale="auto"></script>
        </form>
      </div>
      <div class="column" style="background-color:rgb(255, 212, 102);margin: auto;">
        <h2>Enterprise</h2>
        <p>• Unlimited Diagnoses</p>
        <p>• 24/7 Phone Support</p>
        <p>• Custom Tooling</p>
        <p>• Contact us for a price quote</p>
        <form action="/user/charge" method="post">
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_TQmy1LFbeJ6tgZLOdzT4pZRh00mJ3yq97c" data-description="A Flask Charge" data-amount="200000"
            data-email="{{ email }}" data-locale="auto"></script>
        </form>
      </div>
    </div>
  </div>

</body>

</html>




{% endif %}

{% endblock %}